
@{
    ViewBag.Title = "Soon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/lib/css/soon.css">

<div class="bg-gradient-to-t flex justify-center min-h-screen">
    <div class="flex flex-col items-center justify-center w-full h-full relative z-10">
        <h4 class="text-center mt-[30px] title text-white">HANDIT BIOMETRIC <br>PAYMENT SOLUTION</h4>
        <p class="text-[16px] text-left pl-[15px] pr-[15px] sm:px-0 sm:text-base text-white content-soon mt-[10px]">
            One of our flagship technologies, Handit, transcends traditional card payments
            by offering a state-of-the-art biometric payment solution. With advanced personalization
            and body recognition capabilities, Handit delivers robust security measures.
            By integrating cryptocurrency payments, we are setting new standards for secure payment systems.
        </p>
        <img src="~/lib/img/soon_main.png" alt="Alternate Text" class="mt-2 w-[80%] sm:w-[50%] mx-auto soon-img" />
    </div>
</div>

